output/
logs/
*.err
*.out
__pycache__
*.h5
*.nii
*.png
*.txt
submitit_logs/
results/
*.json
agents.md
data/touch_files/
data/download_data.sh
data/run_process_all_data.sh
job-scripts/
figures/
configs/
inference/plot/
data/split/data_split_stats.py
data/split/get_patient_overlap.py
data/split/identify_missing_data.py
data/split/split_dro_data.py
data/split/largest_tumor_slices.csv